.header {
  display: block;
  padding: 19px 0 20px;
  background-color: white;
  position: relative;
  z-index: 100;
  border-bottom: 3px solid $color-red;
  font-weight: 600;

  @include screen('lg') {
    border-bottom-width: 1px;
    padding: 8px 0;
  }

  @include screen('sm') {
    padding: 13px 0 12px;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-top: -16px;

    @include screen('lg') {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 144px;
      height: 54px;
    }

    @include screen('sm') {
      height: 36px;
      width: 89px;
    }

    img {
      width: 204px;

      @include screen('lg') {
        width: 144px;
      }

      @include screen('sm') {
        width: 89px;
      }
    }
  }

  &__nav {
    align-items: center;
    padding-left: 102px;
    margin-left: auto;
    flex: 1;

    @include screen('lg', min) {
      display: flex !important;
    }

    @include screen('lg') {
      display: none;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      color: $color-grey;
      height: calc(100vh - 100% - 1px);
      overflow: auto;
      padding: 30px 18px;
      background-color: rgba(white, .96);
      box-sizing: border-box;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: opacity $ease-main, transform $ease-main;

      &:not(.is-active) {
        opacity: 0;
        transform: scale(.9);
      }
    }

    @include screen('sm') {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__menu {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    justify-content: center;

    @include screen('lg') {
      display: block;
      height: auto;
      margin-right: 0;
    }
  }

  &__item {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 83px;

    @include screen('lg') {
      margin-bottom: 31px;
      margin-top: 0;
      margin-right: 0;
    }

    @include screen('sm') {
      margin-bottom: 24px;
    }

    &_mobile {
      @include screen('lg', min) {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
    font-size: 18px;
    line-height: normal;
    transition: opacity $ease-main;
    display: block;

    &.is-active {
      color: $color-red;
      pointer-events: none;
    }

    &:hover {
      opacity: .5;
    }

    @include screen('lg') {
      font-size: 35px;
      font-weight: 500;
      height: auto;
      padding: 0;
      line-height: normal;
    }

    @include screen('sm') {
      font-size: 16px;
    }
  }

  &__buttons {
    display: block;
    padding-bottom: 7px;

    @include screen('lg') {
      display: none;
    }
  }

  &__buttonlink {
    display: block;
    margin-top: 16px;
    text-align: center;
    color: $color-main;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &__mobilebutton {
    margin-left: auto;

    @include screen('lg', min) {
      display: none;
    }
  }

  &__burger {
    @include screen('lg', min) {
      display: none;
    }
  }
}
