extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Статья'
  - var activePoint = 3;

block content
  +breadcrumbs-wrap
    +breadcrumbs(['Главная', 'Статьи', 'Как определить, что у моей собаки зуд является проблемой?'])._white

  +head-wrapper
    +head('Как определить, что у моей собаки зуд является проблемой?', 'Зуд — довольно распространенное явление у собак. В большинстве случаев он бывает вызван укусами эктопаразитов, инфицированием и пищевой гиперчувствительностью. При обследовании животного, испытывающего которые позволят уточнить диагноз.', 'assets/images/article_image_1.jpg')

  +b.article
    .container.container_small
      +e.content
        h2 Введение
        p Владельцы собак часто обращаются за ветеринарной помощью по поводу зуда у их питомцев, как в ветеринарные клиники общего профиля, так и в специализированные дерматологические ветеринарные отделения. Зуд часто становится непростой проблемой и для владельца животного, и для ветеринарного врача. В таких случаях лучше всего постепенно, шаг за шагом, проводить соответствующие методы исследования, направленные на выявление причин зуда, и постоянно информировать владельца животного об их результатах.
        h2 Дифференциальная диагностика большинства случаев сводится к выяснению, не является ли зуд следствием:
        ul
          li Поражения эктопаразитами
          li Инфекционных заболеваний
          li Аллергической реакции
        p До проведения клинических тестов следует тщательно изучить данные анамнеза, которые могут оказать помощь в ходе дифференциальной диагностики.
        h2 Анамнез
        p Подробный сбор данных анамнеза оказывает бесценную помощь при проведении предварительной дифференциальной диагностики причин зуда. При инфестации эктопаразитов в кожу собаки зуд обычно возникает внезапно и может ассоциироваться либо с появлением нового животного в доме, либо с посещением курсов дрессировки, парикмахерской для собак и т.п.
        p Если собаку недавно взяли из приюта, подобрали на улице, и об особенностях ее прежней жизни ничего не известно, у нее, прежде всего, следует подозревать наличие эктопаразитов. Собаки, находившиеся в контакте с больными животными, чаще всего также бывают поражены эктопаразитами.
        p Однако зуд, вызванный укусами этих насекомых, может быть лишь составляющей зуда, вызванного заболеваниями другой этиологии. Собирать данные о возможных контактах собаки лучше самостоятельно, а не полагаться на рассказ владельца животного. Если у собаки есть эктопаразиты, в некоторых случаях от нее может заразиться владелец животного (например, клещевой чесоткой, хейлителлиозом или блохами).



