.test {
  display: block;
  padding-right: 354px;

  @include screen('lg') {
    padding-right: 190px;
  }

  @include screen('sm') {
    padding-right: 0;
  }

  $b: &;

  &_result {
    position: relative;
    z-index: 2;
  }

  &__info {
    display: flex;
    box-sizing: border-box;
  }

  &__counter {
    line-height: 31px;
    height: 31px;
    color: white;
    width: 69px;
    margin-right: 12px;
    border-radius: 100px;
    background-color: $color-green-light-2;
    text-align: center;
    font-size: 18px;
    font-weight: 700;

    @include screen('lg') {
      width: 66px;
      height: 23px;
      font-size: 14px;
      line-height: 23px;
    }

    @include screen('sm') {
      font-size: 10px;
      font-weight: 600;
      line-height: 20px;
      height: 20px;
      width: 36px;
      margin-right: 3px;
    }
  }

  &__progressbar {
    flex: 1;
    background-color: rgba($color-green-light-2, .17);
    border-radius: 1000px;
    display: flex;
    overflow: hidden;

    span {
      width: 0;
      border-radius: 1000px;
      display: block;
      transition: width .7s ease;
      background: $color-green-light-2;
    }
  }

  &__slider {
    position: relative;
    z-index: 2;
    overflow: hidden;

    .swiper-wrapper {
      width: 100% !important;

      .swiper-slide {
        width: 100% !important;
      }
    }
  }

  &__form {
    display: block;
    position: relative;
    box-sizing: border-box;

    @include screen('sm') {
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    &:not(:first-child) {
      margin-top: 57px;

      @include screen('lg') {
        margin-top: 50px;
      }

      @include screen('sm') {
        margin-top: 29px;
      }
    }
  }
}

// Test-item

.test-item {
  display: block;

  $b: &;

  @include screen('sm') {
    padding: 0 15px;
  }

  &_result {
    position: relative;
    z-index: 2;

    @include screen('sm') {
      padding-left: 16px;
    }
  }

  &__heading {
    font-family: $font-second;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.45;

    @include screen('lg') {
      font-size: 15px;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.43;

      #{$b}_result & {
        padding-left: 0;
      }
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.3;
    color: $color-grey;
    margin-top: 22px;
    max-width: 700px;

    @include screen('lg') {
      font-size: 14px;
      line-height: 20px;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.5;
      margin-top: 25px;
    }

    p {

      &:not(:first-child) {
        margin-top: 32px;

        @include screen('lg') {
          margin-top: 16px;
        }

        @include screen('sm') {
          margin-top: 8px;
        }
      }
    }

    a {
      color: $color-blue-bright-2;
      border-bottom: 1px solid;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__options {

    &.is-disabled {
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 29px;

      @include screen('lg') {
        margin-top: 31px;
      }

      @include screen('sm') {
        margin-top: 17px;
      }
    }
  }

  &__radio {
    display: block;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('sm') {
        margin-top: 10px;
      }
    }
  }

  &__footer {

    &:not(:first-child) {
      margin-top: 38px;

      @include screen('lg') {
        margin-top: 40px;
      }

      @include screen('sm') {
        margin-top: 23px;
      }
    }

    #{$b}_result & {
      @include screen('sm') {
        padding-left: 0;
      }

      &:not(:first-child) {
        margin-top: 55px;

        @include screen('lg') {
          margin-top: 18px;
        }

        @include screen('sm') {
          margin-top: 16px;
        }
      }
    }
  }

  &__button {

  }
}
