.breadcrumbs {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 2;

  $b: &;

  @include screen('sm') {
    display: none;
  }

  &_blue {
    padding: 3px 0;
    background-color: $color-blue-2;

    @include screen('lg') {
      padding: 2px 0;

      .breadcrumbs__item {
        font-size: 10px;
      }
    }
  }

  &_grey {
    background-color: rgba(76, 76, 76, .04);
  }

  &__list {
    font-size: 0;
  }

  &__link {
    color: $color-grey-3;
    transition: color $ease-main;

    #{$b}_blue & {
      color: white;
    }

    &:hover {
      color: rgba(black, .5);

      #{$b}_blue & {
        color: rgba(white, .5);
      }
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    font-size: 10px;
    line-height: 1.2;

    @include screen('lg') {
      font-size: 8px;
    }

    &:not(:last-child) {
      margin-right: 3px;

      &::after {
        content: ' >';
        color: black;

        #{$b}_blue & {
          color: white;
        }
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }
}
