.footer {
  display: block;
  color: $color-grey-3;
  margin-top: auto;

  $b: &;

  @include screen('lg') {
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    background-color: $color-grey-3;
    padding: 20px 0 13px;
    width: 100%;

    &.is-fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: translate3d(0, 0, 0);
      z-index: 20;
    }

    @include screen('lg') {
      padding: 10px 0 5px;
    }

    @include screen('sm') {
      padding: 5px 0 3px;
    }
  }

  &-spirit {
    @include screen('lg') {
      order: 1000;
    }
  }

  &__bottom {
    background-color: $color-blue-1;
    padding: 27px 0 42px;

    @include screen('lg') {
      padding-top: 10px;
      padding-bottom: 23px;
    }

    @include screen('sm') {
      padding-top: 14px;
      padding-bottom: 14px;
      width: 100%;
    }
  }

  &__warning-wrap {
    @include screen('lg') {
      @include screen('sm', min) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  &__warning {
    text-align: center;
    font-size: 0;

    img {
      display: none;
      width: 100%;

      &:nth-of-type(1) {
        display: inline-block;

        @include screen('lg') {
          display: none;
        }
      }

      &:nth-of-type(2) {
        @include screen('lg') {
          display: inline-block;
        }

        @include screen('sm') {
          display: none;
        }
      }

      &:nth-of-type(3) {
        @include screen('sm') {
          display: inline-block;
        }
      }
    }
  }

  &__grid {
    display: flex;
    margin: 0 -30px;
    flex-wrap: wrap;
    position: relative;

    @include screen('lg') {
      margin: 0 -19px;
    }

    @include screen('sm') {
      margin: 0;
      display: block;
    }
  }

  &__col {
    padding: 0 30px;
    box-sizing: border-box;

    @include screen('lg') {
      padding: 11px 19px 0;
    }

    @include screen('sm') {
      padding: 0;
      width: 100% !important;
      margin-top: 5px;
    }

    &_info {
      width: 27.9%;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;

      @include screen('lg') {
        order: 0;
        width: 50%;
        margin-top: 3px;
        font-size: 12px;
        line-height: 1.67;
      }

      @include screen('sm') {
        font-size: 10px;
        margin-top: 0;
        line-height: 2;
        margin-bottom: 23px;
      }
    }

    &_text {
      width: 28.6%;
      font-size: 14px;
      line-height: 1.43;
      font-weight: 500;

      @include screen('lg') {
        order: 2;
        width: 50%;
        font-size: 12px;
        line-height: 1.5;

        br { display: none; }
      }

      @include screen('sm') {
        font-size: 8px;
        line-height: 1.5;
      }

      p {

        &:not(:first-child) {
          @include screen('lg', min) {
            margin-top: 8px;
          }

          @include screen('sm', min) {
            margin-top: 5px;
          }
        }
      }

      &_right {
        @include screen('lg') {
          font-size: 10px;
          line-height: 1.4;
          color: $color-silver;
          text-align: right;
          max-width: 340px;
          margin-left: auto;
          margin-top: 3px;
        }

        @include screen('sm') {
          max-width: none;
          text-align: left;
          font-size: 8px;
          line-height: 1.5;
          margin-top: 10px;
        }
      }
    }

    &_logo {
      margin-left: auto;
      align-self: flex-start;
      text-align: right;

      @include screen('lg') {
        order: 1;
        width: 50%;
      }

      @include screen('sm') {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
      }
    }
  }

  &__info {
    display: block;

    &:not(:first-child) {
      margin-top: 24px;

      @include screen('lg') {
        margin-top: 0;
      }
    }
  }

  &__field {
    margin-right: 8px;
    display: inline;
    font-weight: 600;

    @include screen('lg') {
      margin-right: 13px;
    }
  }

  &__value {
    color: $color-main;
    display: inline;
    font-size: 18px;
    font-weight: 500;

    @include screen('sm') {
      font-size: 10px;
    }
  }

  &__logolink {
    font-size: 18px;
    font-weight: 500;
    color: $color-main;
    transition: opacity $ease-main;
    margin-top: 7px;
    display: block;
    text-align: right;

    @include screen('lg') {
      font-size: 16px;
      margin-top: 6px;
    }

    @include screen('sm') {
      display: none;
      text-align: left;
      font-size: 10px;
      line-height: 1.2;
      margin-top: 4px;
    }

    &_mobile {
      display: none;

      @include screen('sm') {
        display: block;
      }
    }

    &:hover {
      opacity: .5;
    }
  }

  &__logo {
    display: inline-block;
    pointer-events: all;

    @include screen('lg') {
      margin-top: 11px;
    }

    @include screen('sm') {
      margin-top: -4px;
    }

    img {
      width: 71px;

      @include screen('lg') {
        width: 61px;
      }

      @include screen('sm') {
        width: 47px;
      }
    }
  }

  a {
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }
}
