.choose-card {
  display: block;
  border-radius: 12px;
  padding: 32px 31px 50px;
  position: relative;
  color: white;
  width: 100%;
  min-height: 264px;
  box-sizing: border-box;

  @include screen('lg') {
    min-height: 161px;
    padding: 14px 32px 36px;
  }

  @include screen('sm') {
    min-height: 129px;
    padding: 12px 14px 39px;
  }


  $b: &;

  &__title {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    font-family: $font-second;

    @include screen('lg') {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__text {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 110px;
    max-width: 764px;

    @include screen('lg') {
      font-size: 14px;
      line-height: 16px;
      padding-right: 80px;
    }

    sup {
      font-size: 10px;
      top: -1em;

      @include screen('lg') {
        font-size: 8px;
      }
    }
  }

  &__image {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    bottom: 24px;
    right: 24px;
    width: 95px;
    height: 95px;

    @include screen('lg') {
      width: 59px;
      height: 59px;
      right: 10px;
      bottom: 10px;
    }

    img {
      @include fill-img;
    }
  }

  &_color {
    &_1 {
      background-color: $color-green-dark;
    }

    &_2 {
      background-color: $color-blue-5;
    }

    &_3 {
      background-color: $color-blue-4;
    }

    &_4 {
      background-color: $color-blue-8;
    }
  }
}
