extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Вопросы и ответы'
  - var activePoint = 4;

block content
  +breadcrumbs-wrap
    +breadcrumbs(['Главная', 'Вопросы и ответы'])._white

  +head-wrapper._changing.faq-head
    +head('Как определить, что у моей собаки зуд является проблемой?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_1.png')(data-faq-head="1")._faq._blue
    +head('Что такое аллергический дерматит?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_2.png')(data-faq-head="2")._faq._color_1
    +head('Существуют ли ограничения в применении Апоквел?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_3.png')(data-faq-head="3")._faq._color_2
    +head('Что такое атопический дерматит и каковы симптомы болезни?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_4.png')(data-faq-head="4")._faq._color_3
    +head('Что такое атопический дерматит и каковы симптомы болезни?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_5.png')(data-faq-head="5")._faq._color_3
    +head('Можно ли принимать Апоквел, если собаке назначены другие препараты?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_6.png')(data-faq-head="6")._faq._blue
    +head('Как долго можно применять Апоквел?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_7.png')(data-faq-head="7")._faq._color_2
    +head('Можно ли делить таблетку Апоквел?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_8.png')(data-faq-head="8")._faq._color_1
    +head('Как применять Апоквел?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_9.png')(data-faq-head="9")._faq._color_2
    +head('Почему Апоквел лучше стероидов?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_10.png')(data-faq-head="10")._faq._blue
    +head('Почему Апоквел лучше циклоспоринов?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_11.png')(data-faq-head="11")._faq._color_2
    +head('Что такое атопический дерматит и каковы симптомы болезни?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_12.png')(data-faq-head="12")._faq._color_3
    +head('Что такое атопический дерматит и каковы симптомы болезни?', '<p>Хроническое кожное заболевание, вызываемое аллергенами из внешней среды и сопровождающееся зудом. Основные признаки заболевания:</p><ul><li>Интенсивное вылизывание, покусывание и расчесывание кожи</li><li>Собака трется о ковер или мебель</li><li>Разлизывание и покусывание лап</li><li>Потеря шерсти</li><li>Раздражения, расчесы, болячки и черные пятна на коже</li><li>Покраснение кожи</li><li>Неприятный запах</li></ul>', 'assets/images/dog_13.png')(data-faq-head="13")._faq._color_1

  +section._padding_four
    +section-content
      +grid.grid_size_six.faq-grid
        +col({xl: 8, sm: 12}).grid__col_grow
          +grid.grid_size_six
            +col({xl: 12, sm: 12}).grid__col_grow
              +faq-card('assets/images/dog_1.png', 'Как определить, что у моей собаки зуд является проблемой?')(data-faq-card="1").js-faq-card
            +col({xl: 6, sm: 12}).grid__col_grow
              +faq-card('assets/images/dog_2.png', 'Что такое аллергический дерматит?')(data-faq-card="2")._color_1.js-faq-card
            +col({xl: 6, sm: 12}).grid__col_grow
              +faq-card('assets/images/dog_3.png', 'Существуют ли ограничения в применении Апоквел?')(data-faq-card="3")._color_2.js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_4.png', 'Что такое атопический дерматит и каковы симптомы болезни?')(data-faq-card="4")._color_3._vertical.js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_5.png')(data-faq-card="5")._color_3._notext.js-faq-card
        +col({xl: 8, sm: 12}).grid__col_grow
          +grid.grid_size_six
            +col({xl: 12, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
              +faq-card('assets/images/dog_6.png', 'Можно ли принимать Апоквел, если собаке назначены другие препараты?')(data-faq-card="6").js-faq-card
            +col({xl: 6, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
              +faq-card('assets/images/dog_7.png', 'Как долго можно применять Апоквел?')(data-faq-card="7")._color_2.js-faq-card
            +col({xl: 6, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
              +faq-card('assets/images/dog_8.png', 'Можно ли делить таблетку Апоквел?')(data-faq-card="8")._color_1.js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_9.png', 'Как применять Апоквел?')(data-faq-card="9")._color_2.js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_10.png', 'Почему Апоквел лучше стероидов?')(data-faq-card="10").js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_11.png', 'Почему Апоквел лучше циклоспоринов?')(data-faq-card="11")._color_2.js-faq-card
        +col({xl: 8, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_12.png')(data-faq-card="12")._color_3._left._notext.js-faq-card
        +col({xl: 4, sm: 12}).grid__col_grow.js-faq-col(data-toggle-type="flex")
          +faq-card('assets/images/dog_13.png')(data-faq-card="13")._color_1._notext.js-faq-card

    +section-footer.__faq-toggle
      +button('button')(type="button" data-toggle-target=".js-faq-col").js-toggle-button Посмотреть все

