.section {
  display: block;
  padding: 89px 0 96px;
  position: relative;

  @include screen('lg') {
    padding: 76px 0 80px;
  }

  @include screen('sm') {
    padding: 33px 0 35px;
  }

  $b: &;

  &_grey {
    background-color: rgba(76, 76, 76, .04);
  }

  &_blue {
    background-color: $color-blue-4;
    color: white;

    .section__title {
      color: white;
    }
  }

  &_circles {
    background: url('../images/circles.svg') no-repeat right 26px;

    @include screen('lg') {
      background-image: url('../images/circles_tablet.svg');
      background-position-y: 35px;
    }

    @include screen('sm') {
      background: none;
    }
  }

  &_shops {
    padding: 21px 0 51px;

    @include screen('lg') {
      padding-top: 11px;
    }

    @include screen('sm') {
      padding-top: 9px;
      padding-bottom: 8px;
    }
  }

  &_products {
    @include screen('lg') {
      padding-bottom: 0;
    }
  }

  &_padding {

    &_one {
      padding-top: 22px;
      padding-bottom: 123px;

      @include screen('lg') {
        padding-top: 49px;
        padding-bottom: 79px;
      }

      @include screen('sm') {
        padding-top: 32px;
        padding-bottom: 24px;
      }
    }

    &_two {
      padding-top: 28px;
      padding-bottom: 100px;

      @include screen('lg') {
        padding-top: 32px;
        padding-bottom: 80px;
      }

      @include screen('sm') {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }

    &_three {
      padding-top: 64px;
      padding-bottom: 120px;

      @include screen('lg') {
        padding-top: 40px;
        padding-bottom: 80px;
      }

      @include screen('sm') {
        padding-top: 24px;
        padding-bottom: 48px;
      }
    }

    &_four {
      padding-top: 37px;
      padding-bottom: 100px;

      @include screen('lg') {
        padding-top: 32px;
        padding-bottom: 80px;
      }

      @include screen('sm') {
        padding-top: 13px;
        padding-bottom: 48px;
      }
    }

    &_five {
      padding-top: 48px;
      padding-bottom: 72px;

      @include screen('lg') {
        padding-bottom: 38px;
      }

      @include screen('sm') {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }

  &__faq-toggle {
    @include screen('sm') {
      display: none;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;

    @include screen('lg') {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.5;
    }

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('sm') {
        margin-top: 8px;
      }
    }
  }

  &_line {
    padding: 86px 0;
    border-top: 1px solid $color-grey-5;

    @include screen('lg') {
      padding: 64px 0;
    }

    @include screen('sm') {
      padding: 32px 0;
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 40px;
    line-height: 1.5;
    color: $color-grey;
    text-align: center;
    font-weight: 900;

    @include screen('lg') {
      font-size: 25px;
    }

    @include screen('sm') {
      font-size: 16px;
    }

    #{$b}__header_left & {
      text-align: left;
    }

    #{$b}__header_line_one & {
      @include screen('lg', min) {
        line-height: 1.2;
      }

      @include screen('sm') {
        text-align: left;
        line-height: 1.31;
      }
    }
  }

  &__header {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &_has-button {
      display: flex;
      align-items: center;
      justify-content: center;

      .section__title {
        flex: 1;
        margin-right: 32px;
        text-align: left;

        @include screen('lg') {
          margin-right: 0;
          text-align: center;
        }
      }

      .button {
        margin-left: auto;
        flex-shrink: 0;
        margin-top: 0;
      }
    }

    &_width {

      &_one {
        max-width: 760px;
      }
    }
  }

  &__text-block {

    &:not(:first-child) {
      margin-top: 40px;

      @include screen('lg') {
        margin-top: 32px;
      }

      @include screen('sm') {
        margin-top: 40px;
      }
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: $color-grey-3;

    @include screen('sm') {
      font-size: 12px;
      line-height: 18px;
      max-width: 240px;
    }

    p {

      &:not(:first-child) {
        margin-top: 3px;

        @include screen('sm') {
          margin-top: 4px;
        }
      }
    }
  }

  &__content {

    &:not(:first-child) {
      margin-top: 65px;

      @include screen('lg') {
        margin-top: 18px;
      }

      @include screen('sm') {
        margin-top: 23px;
      }
    }

    &_margin {

      &_one {

        &:not(:first-child) {
          margin-top: 76px;

          @include screen('lg') {
            margin-top: 21px;
          }

          @include screen('sm') {
            margin-top: 16px;
          }
        }
      }

      &_two {

        &:not(:first-child) {
          margin-top: 147px;

          @include screen('lg') {
            margin-top: 67px;
          }

          @include screen('sm') {
            margin-top: 74px;
          }
        }
      }

      &_three {

        &:not(:first-child) {
          margin-top: 124px;

          @include screen('lg') {
            margin-top: 21px;
          }

          @include screen('sm') {
            margin-top: 17px;
          }
        }
      }

      &_four {

        &:not(:first-child) {
          margin-top: 28px;

          @include screen('lg') {
            margin-top: 12px;
          }

          @include screen('sm') {
            margin-top: 10px;
          }
        }
      }

      &_five {

        &:not(:first-child) {
          margin-top: 27px;

          @include screen('lg') {
            margin-top: 35px;
          }

          @include screen('sm') {
            margin-top: 14px;
          }
        }
      }

      &_six {

        &:not(:first-child) {
          margin-top: 39px;

          @include screen('lg') {
            margin-top: 46px;
          }

          @include screen('sm') {
            margin-top: 24px;
          }
        }
      }

      &_seven {

        &:not(:first-child) {
          margin-top: 68px;

          @include screen('lg') {
            margin-top: 32px;
          }

          @include screen('sm') {
            margin-top: 23px;
          }
        }
      }
    }
  }

  &__footer {
    text-align: center;

    &:not(:first-child) {
      margin-top: 71px;

      @include screen('lg') {
        margin-top: 48px;
      }

      @include screen('sm') {
        margin-top: 14px;
      }
    }

    &_margin {

      &_one {

        &:not(:first-child) {
          margin-top: 78px;

          @include screen('lg') {
            margin-top: 26px;
          }

          @include screen('sm') {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &__subheading {
    font-family: $font-second;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
    display: block;
    max-width: 900px;

    @include screen('lg') {
      font-size: 20px;
      max-width: 550px;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
      font-weight: 500;
    }

    &:not(:first-child) {
      margin-top: 10px;

      @include screen('lg') {
        margin-top: 10px;
      }

      @include screen('sm') {
        margin-top: 16px;
      }
    }
  }

  &__info-blocks {
    margin-top: 55px;

    @include screen('lg') {
      margin-top: 44px;
    }

    @include screen('sm') {
      margin-top: 29px;
    }
  }

  &__button {
    margin-top: 22px;

    @include screen('lg') {
      margin-top: 16px;
    }

    @include screen('sm') {
      margin-top: 11px;
    }
  }
}
