extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Главная'

block content
  +slider(true).slider_banners.js-banners-slider
    .swiper-wrapper
      .swiper-slide
        img(src="assets/images/slide_1.jpg").slider__banner
      .swiper-slide
        img(src="assets/images/slide_2.jpg").slider__banner
      .swiper-slide
        img(src="assets/images/slide_3.jpg").slider__banner

  +video-block('assets/video/video.mp4', 'assets/images/poster.jpg')

  // Как определить что у собаки зуд
  +define

  // Что вызывает зуд
  +section._line
    +section-header('Что вызывает зуд?')._has-button
      +button()(href="doctor.html").__button.show-desktop О чем рассказать на приеме у ветврача

    +section-content._margin_seven
      +slider(true).js-reason-slider
        +grid.grid_size_seven.faq-grid.swiper-wrapper
          each item in getData('zood')
            +col({xl: 6, sm: 12}).grid__col_grow.swiper-slide
              +reason-card(item)

    +section-footer._margin_one.hide-desktop
      +button()(href="doctor.html") О чем рассказать на приеме у ветврача

  // Пройдите тест
  +section._line
    +section-content
      +banner('assets/images/dog_14.png', 'Проверьте свое умение понимать питомца без слов с помощью простого теста', 'Пройти тест')

  // Вопросы и ответы
  +section._line
    +section-header('Вопросы и ответы')._has-button
      +button()(href="faq.html").__button.show-desktop Посмотреть все
    +section-content._margin_seven
      +slider().slider_faq.js-faq-slider
        +grid.grid_size_six.faq-grid.swiper-wrapper
          +col({xl: 8, sm: 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_1.png', 'Как определить, что у моей собаки зуд является проблемой?')(data-faq-card="1").js-faq-card
          +col({xl: 4, sm: 12}).grid__col_grow.grid__col_right.swiper-slide
            +faq-card('assets/images/dog_4.png', 'Что такое атопический дерматит и каковы симптомы болезни?')(data-faq-card="4")._color_3._big._vertical.js-faq-card
          +col({xl: 4, sm: 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_2.png', 'Что такое аллергический дерматит?')(data-faq-card="2")._color_1.js-faq-card
          +col({xl: 4, sm: 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_3.png', 'Существуют ли ограничения в применении Апоквел?')(data-faq-card="3")._color_2.js-faq-card
    +section-footer._margin_one.hide-desktop
      +button()(href="faq.html") Посмотреть все

  // Узнайте больше о
  +section._line
    +section-header('Узнайте больше о проблеме зуда у питомцев')._has-button
      +button('button')(type="button").__button.show-desktop Посмотреть все
    +section-content._margin_seven
      +slider().slider_articles.js-articles-slider
        +grid.grid_size_six.swiper-wrapper
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/dog_image_1.png', 'Как определить, что у моей собаки зуд является проблемой?')(href="article.html")._color_1._notext
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/dog_image_2.png', 'Как определить, что у моей собаки является проблемой?')(href="article.html")._color_2._notext
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/dog_image_3.png', 'Как определить, что у моей собаки зуд является проблемой?')(href="article.html")._color_3._notext
    +section-footer._margin_one.hide-desktop
      +button()(href="articles.html") Посмотреть все

  +video-block('assets/video/video.mp4', 'assets/images/poster.jpg', 'Как действует Апоквел?')

  // Я выбираю Апоквел
  +section._line
    +section-header('Я выбираю Апоквел')._has-button
    +section-content._margin_seven
      +grid.grid_size_six
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +choose-card('assets/images/choose_1.svg', 'Снимает воспаление', 'Апоквел снимает воспаление и отек кожи, возникающие при расчесах.')._color_1
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +choose-card('assets/images/choose_2.svg', 'Можно не откладывать вакцинацию', 'Собак, принимающих Апоквел, можно вакцинировать (после консультации с ветеринарным врачом) .')._color_2
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +choose-card('assets/images/choose_3.svg', '24 часа без зуда', 'Препарат удобно применять. Всего одна доза в день, независимо от приема пищи.<sup>*2,3</sup>')._color_1
        +col({xl: 12, lg: 6, sm: 12}).grid__col_grow
          +choose-card('assets/images/choose_4.svg', 'Подходит для продолжительного  лечения', 'Это важно, если у собаки есть нарушение, требующее пожизненной терапии. Например, атопический дерматит, который нужно лечить под наблюдением ветеринарного врача.')._color_3
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_5.svg', 'Устраняет признаки зуда', 'Собака перестает чесаться и разлизывать лапы и живот, расчесывать уши – меньше поводов для беспокойства любимца и хозяина.')._color_4
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_6.svg', 'Действует с первого приема ', 'Собака перестает чесаться через 4 часа после приема дозы Апоквел.<sup>*1</sup>')._color_2
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_7.svg', 'Препарат нового поколения ', 'Апоквел целенаправленно борется с зудом у собак. ')._color_4
        +col({xl: 12, lg: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_8.svg', 'Успешная практика применения', 'Более 4-х лет Апоквел широко применяется в США и Европе. Не имеет последствий для здоровья, связанных с приемом, как у стероидов<sup>*4-8</sup>. В отличие от циклоспоринов<sup>*9-13</sup> действует с первого дня приема и может быть назначен при любой аллергии. Действие Апоквела у собак доказано, в отличие от антигистаминных препаратов.<sup>*14, 15</sup>')._color_1
        +col({xl: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_9.svg', 'Можно применять с другими препаратами', 'Апоквел не снижает действие НПВС, антибиотиков и аллерго иммунотерапии.')._color_2
        +col({xl: 6, sm: 12}).grid__col_grow.hide-mobile.js-choose-card(data-toggle-type="flex")
          +choose-card('assets/images/choose_10.svg', 'Препарат не влияет на результаты анализов! ', 'Собака больше не чешется и получает облегчение, а врач может продолжать обследования, чтобы выявить причину основного заболевания.')._color_3


    +section-footer._margin_one.show-mobile
      +button('button')(type="button" href="articles.html" data-toggle-target=".js-choose-card").js-toggle-button Посмотреть еще

    +e.text-block
      +e.text
        p *  Первые две недели – 2 раза в день, с 15-го дня один раз в день;
        p **Препараты безрецептурного отпуска, применяемые в ветеринарии;

      +accordeon('Список литературы')._margin_one
        .literature-list
          ol
            li Gadeyne et al. Vet Dermatol. 2014;25(6):512-518.
            li Cosgrove et al Vet Dermatol. 2015;26(3):171-179.
            li Aleo et al Vet Dermatol. 2013;24(3):297.
            li Data on file: Pet Owner Quantitative Market Research, Zoetis LLC.
            li Journal of Veterinary Behavior (2011) 6, 321-327.
            li Edwards SH. The Merck Veterinary Manual. 11th ed. Kenilworth, NJ: Merck Sharp & Dohme Corp; 2014.<br><a href="#">merckvetmanual.com/pharmacology/anti-inflammatory-agents/corticosteroids?qt=antiinflammatoryagents&alt=sh</a> Accessed January 4, 2018.
            li Sousa CA. Glucocosteroids in veterinary dermatology. In: Bonagura JD, Twedt DC, eds. Kirk’s Current Veterinary Therapy. 14th ed. St. Louis, MO: Saunders Elsevier; 2009:400-404.
            li Data on file, APOQUEL/CYTOPOINT Vet Tracker Wave 9, 2018, Zoetis Inc.
            li Matsuda S, Koyasu S. Mechanisms of action of cyclosporine. Immunopharmacology 47:119–125, 2000. Atopica FOI, 2003.
            li Miller WH, Griffin CE, Campbell KL, eds. Muller & Kirk’s Small Animal Dermatology. 7th ed. St. Louis, MO: Elsevier, Mosby; 2013:108-183.
            li Olivry T, et al.  Treatment of canine atopic dermatitis: 2010 clinical practice guidelines from the International Task Force on canine atopic dermatitis. Vet. Dermatol. 2010;21(3):233-48.
            li Olivry T, Rivierre C, Jackson HA, Murphy KM, Davidson G, Sousa CA. Cyclosporine decreases skin lesions and pruritus in dogs with atopic <a href="#">dermatitis: a blinded randomized prednisolone-controlled</a> trial. Veterinary Dermatology 2002;13: 77–87.
            li Steffan J, Alexander D, Fabienne B, Fisch RD. Comparison of cyclosporine A with methylprednisolone for treatment of canine
            li J Vet Sci 2016, 17 (4), 549-553.
            li Olivry et al. BMC Veterinary Research (2015) 11:210 DOI 10.1186/s12917-015-0514-6.
            li Study 1462N-60-09-927 .
