.accordeon {
  display: block;

  $b: &;

  &__head {
    font-size: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    transition: opacity $ease-main;

    @include screen('sm') {
      font-size: 14px;
      line-height: 17px;
      padding-right: 25px;
    }

    &:hover {
      opacity: .5;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 9px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url('../images/arrow_2.svg');
      transition: transform $ease-main;

      @include screen('sm') {
        width: 15px;
        height: 8px;
      }
    }

    #{$b}__head.is-active & {

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding-top: 26px;

    @include screen('lg') {
      padding-top: 24px;
    }

    @include screen('sm') {
      padding-top: 14px;
    }

    &-wrapper {
      display: none;
      will-change: height;
    }
  }

  &_margin {

    &_one {
      margin-top: 48px;

      @include screen('lg') {
        margin-top: 40px;
      }

      @include screen('sm') {
        margin-top: 34px;
      }
    }
  }
}
