mixin dogs-images()
  +b.dogs-images&attributes(attributes)
    +e.image
      img(src="assets/images/usage_1.jpg")
    +e.image
      img(src="assets/images/usage_2.jpg")
    +e.image
      img(src="assets/images/usage_3.jpg")
