extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Тест'
  - var activePoint = 1;

block content
  +breadcrumbs(['Главная', 'Тест'])

  +section._padding_two._circles
    +section-header('Тест на умение понимать питомца ')._line_one._left
    +section-content._margin_five
      +test-result()
