.dots {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 11px;

  @include screen('sm') {
    margin-top: 4px;
  }

  .swiper-container-horizontal & {
    display: flex;
  }

  $b: &;

  &__dot {
    width: 10px;
    height: 10px;
    margin: 9px 10px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color $ease-main, transform $ease-main;
    position: static !important;
    cursor: pointer;
    border: 2px solid $color-red;

    @include screen('sm') {
      width: 7px;
      height: 7px;
      margin: 9px 5px;
    }

    &.is-active {
      background-color: $color-red;
      transform: scale(1.5);
    }
  }
}
