extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Статья'
  - var activePoint = 3;

block content
  +breadcrumbs(['Главная', 'О чем рассказать на приеме у ветврача'])._white._fixed

  +head-wrapper
    +head('О чем рассказать на приеме у ветврача', '<p>Для полного решения проблемы необходимо поставить правильный диагноз и провести лечение. В этом вам сможет помочь ветеринарный врач.</p><p>Аллергические реакции легче поддаются лечению на раннем этапе. Если вы заметили, что ваш питомец чешется, трется, покусывает или лижет себя.</p>', 'assets/images/article_image_2.jpg')._bigtext._blue

  +section._padding_three
    +section-content
      +number-list(getData('number-list'))
