include ../blocks/accordeon/accordeon
include ../blocks/article-card/article-card
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger-button/burger-button
include ../blocks/button/button
include ../blocks/choose-card/choose-card
include ../blocks/city-select/city-select
include ../blocks/content-zone/content-zone
include ../blocks/dogs-images/dogs-images
include ../blocks/dots/dots
include ../blocks/faq-card/faq-card
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/head/head
include ../blocks/icon/icon
include ../blocks/info-block/info-block
include ../blocks/info-item/info-item
include ../blocks/link/link
include ../blocks/map/map
include ../blocks/number-list/number-list
include ../blocks/popups/popups
include ../blocks/product/product
include ../blocks/reason-card/reason-card
include ../blocks/section/section
include ../blocks/share/share
include ../blocks/slider/slider
include ../blocks/switcher/switcher
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/test/test
include ../blocks/zoo-radio/zoo-radio
include ../components/banner/banner
include ../components/define/define
include ../components/footer/footer
include ../components/header/header
include ../components/products/products
include ../components/search/search
include ../components/shops/shops
include ../components/video-block/video-block