.info-block {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border-left: 2px solid $color-grey;
  padding-left: 16px;
  box-sizing: border-box;

  @include screen('lg') {
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.43;
  }

  @include screen('sm') {
    font-size: 8px;
    line-height: normal;
    padding-left: 4px;
  }

  $b: &;

  p {
    &:not(:first-child) {
      margin-top: 16px;

      @include screen('lg') {
        margin-top: 7px;
      }
    }
  }
}

.info-blocks {
  display: flex;
  flex-wrap: wrap;

  @include screen('lg') {
    border-top: 1px solid $color-grey-5;
    margin-left: -18px;
    margin-right: -18px;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 41px;
  }

  @include screen('sm') {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
  }

  .info-block {
    margin-bottom: 20px;

    @include screen('lg') {
      margin-bottom: 24px;
    }

    @include screen('sm') {
      margin-bottom: 0;
    }

    &:nth-of-type(2n + 1) {
      width: 35%;
      padding-right: 43px;

      @include screen('lg') {
        width: 43%;
      }

      @include screen('sm') {
        width: 100%;
        padding-right: 0;
      }
    }

    &:nth-of-type(2n) {
      width: 65%;

      @include screen('lg') {
        width: 57%;
      }

      @include screen('sm') {
        width: 100%;
        margin-bottom: 14px;
        padding-top: 8px;
      }
    }
  }
}
