extends ../../layouts/default

block head
  - var pageTitle = 'Апоквел | Статьи'
  - var activePoint = 3;

block content
  +breadcrumbs(['Главная', 'Статьи'])

  +section._padding_two
    +section-header('Узнайте больше о проблеме зуда у питомцев')._line_one
    +section-content._margin_five
      +grid.grid_size_four
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_1.png', 'Как определить, что у моей собаки зуд является проблемой?', 'Кожных соскобов и цитологическое исследование поверхности кожи. Автор не рекомендует для устранения зуда применять.')(href="article.html")._color_1
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_2.png', 'Как определить, что у моей собаки является проблемой?', 'При первичном осмотре собаки сзудом ветврач проводит исследование кожных соскобов и цитологическое исследование поверхности кожи.')(href="article.html")._color_2
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_3.png', 'Как определить, что у моей собаки зуд является проблемой?', 'При первичном осмотре собаки сзудом ветврач проводит исследование кожных соскобов и цитологическое.')(href="article.html")._color_3
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_4.png', 'Как определить, что у моей собаки зуд является проблемой?', 'Зуд — довольно распространенное явление у собак. В большинстве случаев он бывает вызван укусами эктопаразитов, инфицированием и пищевой иперчувствительностью.')(href="article.html")._color_4
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_5.png', 'Как определить, что у моей собаки зуд является проблемой?', 'При первичном осмотре собаки сзудом ветврач проводит исследование кожных соскобов и цитологическое.')(href="article.html")._color_5
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('assets/images/dog_image_6.png', 'Как определить, что у моей собаки зуд является проблемой?', 'Цитологическое исследование поверхности кожи. Автор не рекомендует для устранения зуда применять.')(href="article.html")._color_6
