.faq-card {
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 32px;
  position: relative;
  width: 100%;
  background-color: $color-blue-4;
  color: white;
  min-height: 262px;
  cursor: pointer;
  transition: opacity $ease-main;
  overflow: hidden;

  @include screen('lg') {
    padding: 26px 16px;
    min-height: 154px;
  }

  @include screen('sm') {
    min-height: 290px;
  }

  @include screen('sm', min) {
    margin-bottom: 0 !important;
  }

  &:hover, &.is-active {
    opacity: .3;
  }

  &.is-active {
    pointer-events: none;
  }

  &.is-hidden {
    display: none;
  }

  $b: &;

  &_color {
    &_1 {
      background-color: $color-blue-5;
    }

    &_2 {
      background-color: $color-green-light-2;
    }

    &_3 {
      background-color: $color-blue-6;
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.56;
    max-width: 60%;

    @include screen('lg') {
      font-size: 16px;
      line-height: 22px;
    }

    #{$b}_vertical & {
      max-width: 100%;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 90%;
    transform-origin: right bottom;

    @include screen('lg') {
      transform: scale(.6);
    }

    @include screen('sm') {
      transform: none;
      max-height: 50%;
    }

    #{$b}_notext & {
      @include screen('lg') {
        transform: scale(1);
      }
    }

    #{$b}_left & {
      @include screen('sm', min) {
        right: auto;
        left: 47px;
      }
    }
  }
}
